@import "../../scss/defaults.scss";

.hero__container {
  .hero__title {
    text-align: center;
  }
  .hero__content {
    @include createFlex(flex, center, center, row, wrap);
    padding: 2em;
    .reasons {
      @include createFlex(flex, space-around, center, row, wrap);
      color: red;
      width: 70%;
      gap: 20px;
      .reason {
        margin-top: 2em;
        padding: 2em;
        text-align: start;
        background-color: $lightRed;
        border-radius: 20px 32px;
        width: 40%;
        h1,
        p {
          text-align: left;
          color: white;
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .hero__container {
    .hero__content {
      .reasons {
        flex-direction: column;
        width: 100%;
        .reason {
          text-align: left;
        }
      }
    }
  }
}

@media screen and (max-width: 415px) {
  .hero__container {
    .hero__content {
      .reasons {
        .reason {
          width: 70%;
        }
      }
    }
  }
}
