@import "../../scss/defaults.scss";

.footer_container {
  @include createFlex(flex, space-around, center, 0, wrap);
  border: 1px solid red;
  padding: 2em;
  .footer_social {
    border: 1px solid blue;
    text-align: start;
    padding: 2em;
  }
  .footer_info {
    border: 1px solid black;
    div {
      @include createFlex(flex, space-around, center, row, wrap);
    }
  }
  .footer_copyright {
    border: 1px solid gray;
  }
}
